{%- comment -%}
  Price display with compare-at handling.
  Usage: {% render 'price', product: product %} or {% render 'price', variant: variant %}
{%- endcomment -%}
{%- liquid
  if variant
    assign price = variant.price
    assign compare = variant.compare_at_price
  else
    assign price = product.price
    assign compare = product.compare_at_price
    assign price_varies = product.price_varies
  endif
-%}
<span class="price{% if compare > price %} price--on-sale{% endif %}">
  {%- if price_varies -%}
    <span class="price__from">{{ 'products.product.from' | t }}</span>
  {%- endif -%}
  <span class="{% if compare > price %}price__sale{% else %}price__regular{% endif %}" data-product-price>{{ price | money }}</span>
  {%- if compare > price -%}
    <s class="price__compare">{{ compare | money }}</s>
  {%- endif -%}
</span>
